<h1>Pages#home</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card-category">
        <p>Find me in app/views/pages/home.html.erb</p>
      </div>
    </div>
  </div>
</div>
